
{% for i in employees%}
    <div class="card-group">
        {% for j in i%}
            <div class="card text-center" >
                <div class="card-body" >
                    <form action = "/task1/submit/" method = "post" id = "form{{j.id}}">
                        <div class="row">
                            <div class="col">
                                <label for="id" class="form-label">ID:</label>
                            </div>
                            <div class="col">
                                <input id="id" class="form-label" value = {{j.id}} disabled></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="name" class="form-label">Name:</label>
                            </div>
                            <div class="col">
                                <input id="name" class="form-label" value = {{j.name}} disabled></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="age" class="form-label">Age:</label>
                            </div>
                            <div class="col">
                                <input id="age" class="form-label" value = {{j.age}} disabled></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-check-label" for="senior">Senior</label>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="form-check-input" id="senior"  {% if j.is_senior %} checked  {% endif %}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-check-label" for="color">Favorite Color</label>
                            </div>
                            <div class = "col">
                                <select form="form{{j.id}}" id = "color" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <ul class="dropdown-menu">
                                        <option><label class="dropdown-item"></label></option>
                                        {% for k in colors %}
                                            <option {% if k.id == j.favorite_color_id%} selected {%endif%}><label class="dropdown-item">{{k.name}}</label></option>
                                        {%endfor%}
                                    </ul>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        {%endfor%}
    </div>
    {%endfor%}


