.card {
    width: 18rem;
}

input {
    width: 7rem;
}

.card-body {
    width: 18rem;
    border-style: outset;
    border-radius: 20px;
    border-color: black;
}

.col {
    padding-bottom: 5px;
}