.card {
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.4);
}

input {
    width: 7rem;
}

.card-body {
    width: 18rem;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    margin-top: 2rem;
    background-color: rgba(245, 245, 245, 1);

}

.col {
    padding-bottom: 5px;
}

.card-group {
    align-self: center;
}