img[role=navbaricons] {
    width: 2rem;
    height: 2rem;

}

a[role=nav-text] {
    text-decoration: none;
    letter-spacing: 1px;
}

a:link::before {
    color: #80f7e3;
}

a:visited {
    color: #80f7e3;
}

div[role=nav] {
    height: 6rem;
}

#bg {
    background: url('../images/focus-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    min-height: 70rem;
}