
<div class="card-deck">
    <!-- Card -->
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay"><img alt="Work eyewear" class="card-img-top img-fluid" src="img/clothing-1.jpg"></div><!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">PPE</h4><!--Text-->
                <p class="card-text">PPE is equipment that will protect the user against health or safety risks at work...</p><!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a class="" href="https://shop.spartansafety.co.uk/personal-protection-s/1820.htm">SHOP NOW <i class="fas fa-arrow-right fa-xs"></i></a>
            </div>
        </div>
    </div><!-- Card -->